:root{
    font-size: 16px;
    font-family: "Comic Neue";
    --bg-primary: #1c1a1a;
    --bg-secondary: #111111;
    --text-primary: #4a97c5;
    --text-secondary: #346a8a;
    --transition-speed: 600ms;
}

body{
    background-color: var(--bg-primary);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

a
{
    text-decoration: none;
}

.comic-neue-regular 
{
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Sidebar Start */
.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: hidden;
}
  
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
  
.nav-item {
    width: 100%;
}
  
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
  
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
  
.link-text {
    display: none;
    margin-left: 1rem;
}
  
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}
  
.fa-primary {
    color: var(--text-primary);
}
  
.fa-secondary {
    color: var(--text-secondary);
}
  
.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}
  
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
  
.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}
  
.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
 }
  
.navbar:hover .logo svg {
    transform: rotate(-180deg);
}
  
/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
}
  
/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
}
/* Sidebar End */
/* Homepage Start */

.welcome
{
    font-size: 2rem;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.banner
{
    position: absolute;
    width: 1440px;
    max-width: 100%;
    height: 699px;
    left: 80px;
    top: 0px;
    background: url(Banner_1840x600.jpg);
    mix-blend-mode: overlay;
    filter: blur(2px);
    z-index: -1;
}

.About_me
{
    position: absolute;
    top: 600px;
}

/* Homepage End */

/* Portfolio Start */
/* Header Start */

.Intro
{
    position: absolute;
    left: 5px;
    top: 0px;
}

.Intro_header
{
    font-size: 30px;
}

.Intro_text
{
    font-size: 17px;
}

/* Header End */
/* Discord Theme Start */

.Theme_btn
{
    width: 150px;
    height: 45px;
    margin: 1.2rem;
    border: none;
    box-shadow: 4px 4px 10px , -4px -4px 10px;
    color: #4a97c5;
    border-radius: 16px;
    font-size: 17px;
    font-weight: bold;
    background-color: #1c1a1a;
}

.Theme_btn:hover
{
    background-color: #1c1a1c;
    transform: translate(0px, -3px);
}

.Theme_preview
{
    position: absolute;
    left: 5px;
}

/* Discord Theme End */
/* Portfolio End */
/* Calculator Start */

.Calc_Body
{
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    height: 100vh;
}

.Calculator
{
    width: 600px;
    background-color: #111111;
    border-radius: 15px;
    overflow: hidden;
}

.Calc_Buttons
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 600px;
    height: 600px;
    gap: 10px;
    padding: 25px;
    background-color: #111111;
    border-radius: 15px;
}

.display
{
    width: 100%;
    height: 120px;
    background-color: #3a3a3a;
    border: none;
    pointer-events: none;
    font-size: 70px;
    color: #b6b6b6;
    text-align: right;
}

button
{
    background-color: #1b1b1b;
    color: #b6b6b6;
    font-size: 40px;
    border: none;
    border-radius: 100px;
}

button:hover
{
    background-color: #0f0f0f;
}

Button:nth-child(4n)
{
    color: orange;
}

button:nth-child(15)
{
    color: orange;
}

button:nth-child(14)
{
    color: red;
}

.mikutest
{
    filter: grayscale(1);
}