html
{
    font-family:  "Comic Neue", cursive;
    background-color: #1c1a1a;
}

.comic-neue-regular 
{
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

.topnav
{
    font-size: 18px;
    background-color: #272525;
    overflow: hidden;
}

.topnav a
{
    float: left;
    color: #4a97c5;
    text-align: center;
    padding: 14px 16px;
}

.topnav a:hover
{
    background-color: #141414;
    color: #4a97c5;
}


h1, h2, p, ul
{
    color: #4a97c5;
    margin: 0 auto;
}

h1
{
    font-size: 60px;
}

h2
{
    font-size: 20px;
}

p, ul
{
    font-size: 15px;
    list-style-position: inside;
}

button
{
    position: absolute;
    top: 8px;
    right: 7px;
    background-color: #333232;
    border-color: #333232;
    color: #4a97c5;
}