html
{
    font-family: "open Sans", sans-serif;
    background-color: #1c1a1a;
}

body 
{
    width: 620px;
    margin: 0 auto;
    background-color: #333232;
    padding: 0 20px 20px 20px;
}

.topnav
{
    font-size: 18px;
    background-color: #1c1a1a;
    overflow: hidden;
}

.topnav a
{
    float: left;
    color: #4a97c5;
    text-align: center;
    padding: 14px 16px;
}

.topnav a:hover
{
    background-color: #141414;
    color: #4a97c5;
}

h1, h2
{
    text-align: center;
    color: #4a97c5;
    margin: 0 auto;
}

ul
{
    list-style: none;
}

img
{
    width: 290px;
    margin: 0px auto;
    padding: 0px;
}