:root {
  font-size: 16px;
  font-family: "Comic Neue";
  --bg-primary: #1c1a1a;
  --bg-secondary: #111111;
  --text-primary: #4a97c5;
  --text-secondary: #346a8a;
  --transition-speed: 600ms;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

main {
  margin-left: 4.5rem;
  padding: 1rem;
}

main, h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 0;
}

a {
  color: var(--text-secondary);
}


/* Navbar */
.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: hidden;
}
  
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
  
.nav-item {
    width: 100%;
}
  
.nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
  
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
  
.link-text {
    display: none;
    margin-left: 1rem;
}
  
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}
  
.fa-primary {
    color: var(--text-primary);
}
  
.fa-secondary {
    color: var(--text-secondary);
}
  
.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}
  
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
  
.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}
  
.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
 }
  
.navbar:hover .logo svg {
    transform: rotate(-180deg);
}
  
/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
}
  
/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }

    .banner {
      margin-left: 5rem;
    }
}
/* Navbar End */

.banner {
  position: absolute;
  mix-blend-mode: overlay;
  z-index: -1;
}

.about-me {
  font-size: 1.3rem;
  font-weight: 700;
  position: absolute;
  top: 580px;
  z-index: -1;
}

/* Calculator */
.Calc_Body
{
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    height: 100vh;
}

.Calculator
{
    width: 600px;
    background-color: var(--bg-secondary);
    border-radius: 15px;
    overflow: hidden;
}

.Calc_Buttons
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 550px;
    height: 550px;
    gap: 10px;
    padding: 25px;
    background-color: var(--bg-secondary);
    border-radius: 15px;
}

.display
{
    width: 100%;
    height: 120px;
    background-color: #3a3a3a;
    border: none;
    pointer-events: none;
    font-size: 70px;
    color: #b6b6b6;
    text-align: right;
}

button
{
    background-color: #1b1b1b;
    color: #b6b6b6;
    font-size: 40px;
    border: none;
    border-radius: 100px;
}

button:hover
{
    background-color: #0f0f0f;
}

Button:nth-child(4n)
{
    color: orange;
}

button:nth-child(15)
{
    color: orange;
}

button:nth-child(14)
{
    color: red;
}
/* Calculator End */

/* Portfolio Start */
/* Discord Theme Start */

.Theme_btn
{
    width: 150px;
    height: 45px;
    margin: 1.2rem;
    border: none;
    box-shadow: 4px 4px 10px , -4px -4px 10px;
    color: var(--text-primary);
    border-radius: 16px;
    font-size: 17px;
    font-weight: bold;
    background-color: var(--bg-primary);
    transition: var(--transition-speed);
}

.Theme_btn:hover
{
    background-color: var(--bg-primary);
    transform: translate(0px, -3px);
}

/* Discord Theme End */
/* Portfolio End */