:root{
    font-size: 16px;
    font-family: "Comic Neue";
    --bg-primary: #1c1a1a;
    --bg-secondary: #111111;
    --bg-tertiary: #0e0e0e;
    --text-primary: #4a97c5;
    --text-secondary: #346a8a;
    --transition-speed: 600ms;
}

body{
    background-color: var(--bg-primary);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

/* Navbar */
.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: hidden;
}
  
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
  
.nav-item {
    width: 100%;
}
  
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
  
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
  
.link-text {
    display: none;
    margin-left: 1rem;
}
  
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}
  
.fa-primary {
    color: var(--text-primary);
}
  
.fa-secondary {
    color: var(--text-secondary);
}
  
.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}
  
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
  
.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}
  
.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
 }
  
.navbar:hover .logo svg {
    transform: rotate(-180deg);
}
  
/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
}
  
/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
}

.welcome-page {
  display: flex;
  justify-content: space-around;
}

.welcome-text {
  font-size: 3rem;
}

@media only screen and (max-width: 950px) {
  .welcome-page{
    flex-direction: column;
    align-items: center;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.cards {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25rem;
  font-weight: 700;
}

.about-me-card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--bg-secondary);
  border: none;
  box-shadow: 4px 4px 10px , -4px -4px 10px;
  color: var(--bg-secondary);
}

.about-me-image {
  mix-blend-mode: overlay;
}

.about-me-text {
  color: var(--text-primary);
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--bg-secondary);
  border: none;
  box-shadow: 4px 4px 10px , -4px -4px 10px;
  color: var(--bg-secondary);
}

.portfolio-image {
  mix-blend-mode: overlay;
}

.portfolio-text {
  color: var(--text-primary);
}

.card-buttons button {
  color: var(--text-secondary);
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 16px;
  background: var(--bg-tertiary);
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
}